@import "partials/variables";
@import "partials/mixins";

* {
  margin: 0;
}

body {
  background-image: url('../header.jpg');
  color: white !important;
}

input {
  @include rounded;
  color: $r2d2-secondary !important;
  width: 90%;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $r2d2-main;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $r2d2-main;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $r2d2-main;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $r2d2-main;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    $r2d2-main;
}

input:focus {
  @include no-outline;
}

textarea:focus {
 @include no-outline;
}

button {
  @include no-outline;
}

a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

#searchInput {
  margin-top: 10px;
  @include rounded;
}

.navbar {
  background-color: $droid-covering !important;
  border-radius: 0px !important;

  .navbar-brand {
    color: $r2d2-main !important;
  }

  .dropdown-menu {
   background-color: $r2d2-secondary;
  }

  .dropButton {
    background-color: $r2d2-secondary;
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    width: 100%;
  }

  .rightNav {
    height: 30px;
    margin-top: 8px;
    border-style: none;
    background-color: $r2d2-main;
    color: white;
    border-radius: 5px;

    #rightButton {
      margin-right: 10px;
    }

    #fave {
      margin-right: 20px;
    }
  }
}

.mainWrapper {
  min-height: 100%;
  margin-bottom: -40px; 
}

.mainWrapper:after {
  content: "";
  display: block;
}

table {
  color: black;
  border: 1px solid black;
  margin: 0 auto;
  max-width: 960px;
  white-space: normal;   
  word-wrap: break-word;
  width: 100%;

  .saveButton {
    @include rounded;
    background-color: white;
    border: none;
    margin: 2px;
  }

  label {
    color: white !important;
  }
}

#table_wrapper {
  width: 70% !important;
  margin: 0 auto;
}

.row {
  background-color: $r2d2-secondary !important;

  &:first-of-type {
    padding-top: 8px;
    border-radius: 5px 5px 0px 0px;
  }

  &:last-of-type {
  padding-bottom: 8px;
  border-radius: 0px 0px 5px 5px;
  }
}

th {
  @include td-standard;
}

td {
  @include td-standard;
}

#favorites {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 60px;

  h2 {
    color: white;
    margin: 0 auto;
    text-align: center;
  }

  #faveHead {
    width: 100%;
    height: 30px;
  }

  #faveHeader {
    @include rounded;
    width: 200px;
    background-color: $droid-covering;
    color: $r2d2-main;
  }

  #faveClose {
    float: right;
    display: inline-block;
    background-color: transparent;
    border-style: none;
    margin-top: -30px;
    font-size: 20px;
    z-index: 100;
    padding-right: 20px;
  }
}

#faveList {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .flexEle {
  @include rounded;
  width: 350px;
  height: 200px;
  margin: 10px 20px;
  background-color: $r2d2-secondary !important; 
  padding: 10px;

    .lastTable {
      width: 100%;
      float: left;
      height: 100%;
      font-size: 14px;
    }

    .leftDiv {
      float: left;
      width:60%
    }

    .rightDiv {
      float: right;
      width: 40%;

      textarea {
        color: $r2d2-main !important;
        height: 90% !important;
        width: 100%;
        padding-bottom: 5px;
        resize: none;
      }

      .textSave {
        @include rounded;
        width: 100%;
        text-align: center;
        margin-left: 30px;
        margin-top: 10px;
        background-color: $droid-covering;
        padding: 2px 5px;
      }
    }
  }
}


footer {
  background-color: $droid-covering;
  
  .footerText {
    color: $r2d2-main;
    margin: 0 auto;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
  }
}

.siteFooter, .mainWrap:after {
  height: 40px; 
}

