@mixin no-outline {
  outline: none;
}

@mixin rounded {
  border-radius: 5px;
}

@mixin td-standard {
  background-color: $droid-covering;
  border: 1px solid black;
  padding: 2px;
  text-align: center !important;
}

@mixin tile-buttons {
  @include rounded;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  background-color: $droid-covering;
  padding: 2px 5px;
}